<html>
    <head>
        <title>Titre</title>
        <script
              src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous"></script>
        <style type="text/css">
            p { display: none};
        </style>
    </head>
    <body>
        <h1>COUCOU {{name}}</h1>
        
        <form method="POST" 
            action="http://app.jmbarbier.isn.dumezil.devel.space/reponse">
            <label>Votre nom</label>
            <input type="text" name="nom"/>
            <input type="submit" value="Envoyer"/>
        </form>
        
        <button id="affscore">Afficher le score</button>
        <p id="score">Votre score : {{score}}</p>
    </body>
    
    <script>
        $("#affscore").click(function() {
            $("#score").show();
        });
    </script>

</html>